html{
    font-size: 1rem;
    font-family: 'Viga', sans-serif;
}

.form-outline {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: beige;
    font-family: 'Viga', sans-serif;
}

#form1 {
    width: 10rem;
    margin-left: 1rem;
    margin-top: 0.37rem;
}



.img-container {
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    margin-right: 2rem;
    width: 2rem;
    
}

.img-container img {
    margin-top: 1rem;
}

#icon {
    width: 2rem;
}