.posts{
    border: 1px solid black;
    margin-bottom: 10px;
    box-shadow: -10px -6px 2px black;
    
}

.searchBar{
    margin-bottom: 45px;
}

h6:hover{
    color: brown;
}

h6:active{
    text-shadow: 2px 2px 2px black;
}

.thumbnails{
    width: 35%;
    border-radius: 10px;
}