

.main-content{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-family: Viga, sans-serif;
  background-color:lemonchiffon;
  color: rgba(83, 83, 83, 0.98);
  
}
.sidebar{
  width: 25%;
  padding: 20px 10px;
}
.post-container{
  width: 70%;
  padding: 20px 10px;
  text-align: center;

}


/* Mobile */
@media screen and (max-width:576px) {
  .main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: Viga, sans-serif;
    background-color:lemonchiffon;
  
  }
  .sidebar{
    width: 90%;
    padding: 20px 10px;
    text-align: center;
  
  }
  .post-container{
    width: 90%;
    padding: 20px 10px;
    text-align: center;
  }

}


/* tablet */
@media only screen and (min-width:576px) and (max-width:1024px) {

  .main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: Viga, sans-serif;
    background-color:lemonchiffon;
  
  }
  .sidebar{
    width: 40%;
    padding: 20px 10px;
    text-align: center;
  
  }
  .post-container{
    width: 90%;
    padding: 20px 10px;
    text-align: center;
  
  }

}
